<div class="container">
  <mat-card class="card">
      <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Assessment</span>
    <mat-card-header>
      <mat-card-title style="margin-bottom:30px">
        <h2>Log In</h2>
      </mat-card-title>
    </mat-card-header>
    <form #loginForm='ngForm' (ngSubmit)="onLogin(loginForm.value)">
      <mat-form-field type="Email" appearance="outline" class="form-field">
        <mat-label>Email ID</mat-label>
        <input matInput placeholder="Please Enter your Email ID" required ngModel name="userEmail" autocomplete="off">
        <mat-hint>
          Sincere@april.biz,Shanna@melissa.tv,Nathan@yesenia.net,Julianne.OConner@kory.org,Lucio_Hettinger@annie.ca,Karley_Dach@jasper.info,Telly.Hoeger@billy.biz,Sherwood@rosamond.me,Chaim_McDermott@dana.io,Rey.Padberg@karina.biz
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Please Enter your Password" required ngModel name="password">
      </mat-form-field>
      <button [disabled]="!loginForm.valid" class="button" type="submit" mat-raised-button color="primary">Log
        In</button>
    </form>
  </mat-card>
  <div *ngIf="alert" class="alert alert-danger" role="alert" style="margin-top:30px">
    <strong>Warning!</strong> Incorrect EMail ID or Password
  </div>
</div>
