body{
    overflow: hidden;
}
div {
    background-color: #333;
    padding: 10px;
}
h3 {
    display: inline;
    color: #fff;
    margin-left: 10px;
    padding: 10px;
}
h5 {
    display: inline;
    color: #fff;
    margin: 0px;
}
.tabgroup {
    background-color: #333;
}