<ng-container *ngFor="let item of data">
    <ng-container *ngIf="item.id == userid">
        <div>
            <a routerLink="/dashboard" mat-icon-button aria-label="Home Button" style="color: white;" ng-click="goHome()">
                <mat-icon>home</mat-icon>
            </a>
            <h3>{{ item.name }}</h3><h5>@{{ item.username }}</h5>
        </div>
        <mat-tab-group class="tabgroup" animationDuration="2000ms">
            <mat-tab label="Details"><app-details [userid]="userid"></app-details></mat-tab>
            <mat-tab label="Posts"><app-posts [userid]="userid"></app-posts></mat-tab>
            <mat-tab label="Albums"><app-albums [userid]="userid"></app-albums></mat-tab>
        </mat-tab-group>
    </ng-container>
</ng-container>