body{
    overflow-y: hidden;
}
.container{
    overflow: auto;
    height: 730px;
    width: 100%;
}
.button{
    width: 100%;
    margin: 10px;
}
h3, p {
    color: #fff;
}
figure{
    border: 1px #cccccc solid;
    padding: 4px;
    width: 610px;
}
figcaption{
    background-color: black;
    color: #fff;
    font-style: italic;
    padding: 2px;
    text-align: center;
}